hydra:
  searchpath:
    - pkg://verl/trainer/config

defaults:
  - ppo_trainer
  - _self_

agentlightning:
  port: 9999

data:
  filter_overlong_prompts: false

actor_rollout_ref:
  rollout:
    mode: async
    agent:
      custom_async_server:
        path: pkg://agentlightning.verl.async_server
        name: PatchedvLLMServer
    trace_aggregator:
      mode: transition # transition or trajectory
      special_token_tolerance: 10 # only supported in trajectory mode, suggest to set as n_turns
      string_tolerance: 20 # only supported in trajectory mode, suggest to set as n_turns * 2
