hydra:
  searchpath:
    - pkg://verl/trainer/config

defaults:
  - ppo_trainer
  - _self_

agentlightning:
  port: 9999

data:
  filter_overlong_prompts: false

actor_rollout_ref:
  rollout:
    mode: async
    agent:
      custom_async_server:
        path: pkg://agentlightning.verl.async_server
        name: PatchedvLLMServer
    trace_aggregator:
      mode: transition  # transition or trajectory
      trajectory_max_prompt_length: 2048  # supported in trajectory mode, suggest to set as max_prompt_length
      trajectory_max_response_length: 8192  # supported in trajectory mode, suggest to set as n_turns * (max_response_length + max_prompt_length)
      debug: False  # enable debug mode for trajectory aggregator
      unmatch_log_dir: ./unmatch_cases  # if debug=True, save unmatch cases to this dir # TODO: mkdir
